<!DOCTYPE html>
<html>
  <head>
    <title>Sendpal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <meta property="og:image" content="<%= image_url('/readme/dashboard.png') %>" />
    <meta property="og:image" content/>
    <link href="https://db.onlinewebfonts.com/c/0930cc324c97c2d3be7b1a09e76fdaa2?family=PayPal+Sans+Big+Light" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/d3398b63eaca40daee65f5fa3b69402c?family=PayPal+Sans+Small" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/4ae8ae5d2fe851902b9c1cb0e824c4a4?family=PayPal+Sans+Big+Medium" rel="stylesheet">
    <script type="text/javascript"> 
      
      window.sendpalLogo = "<%= image_url("logo.png")%>"
      window.sendpalBanner = "<%= image_url("sendpal-banner.jpg")%>"
      window.sendpal = "<%= image_url("sendpal.jpg")%>"
      window.test_user = "<%= image_url("account-img-96.png")%>"
      window.request_icon = "<%= image_url("request-icon.png")%>"
      window.send_icon = "<%= image_url("send-icon.png")%>"
      window.check_icon = "<%= image_url("check-64.png")%>"
      window.linkedIn = "<%= image_url("linkedin.png")%>"
      window.gitHub = "<%= image_url("github.png")%>"
      window.angelList = "<%= image_url("angellist.png")%>"
      
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
